apla-planner/generated_pddls_deepseek/dataset/*
apla-planner/generated_pddls_deepseek/logs/*
generated_pddls/*
parsed_womdr_data/*
pddl-examples/*
*.pddl
__pycache__/*
apla-planner/generated_pddls_deepseek/.DS_Store
grades/*
